
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        {% for melon_id in cart %}
        <tr>
            <td>{{ melons.get_by_id(melon_id).common_name }}</td>
            <td>{{ session["cart"][melon_id] }}</td>
            <td>{{ melons.get_by_id(melon_id).price }}</td>
            <!-- <td>int({{ melons.get_by_id(melon_id).price }}) * 3</td> -->
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: $27.00</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
